<!DOCTYPE html>
<html>
    <head>
        <%- include partials/global-head.ejs %>
        <link rel="stylesheet" href="/public/css/account.min.css" />
        <script src="/public/js/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    </head>

    <body>
        <div class="wrap">
            <!-- NAVIGATION -->
            <%- include partials/header.ejs %>
            <!-- NAVIGATION -->

            <%if (!userData[0].team.id) { %>
                <div id="team-buttons">
                    <a href="/create-team" class="button">Create a team</a>
                    <a href="/join-team" class="button">Join a team</a>
                </div>
            <% } %>

            <div class="box-container">
                <div class="box box-30">
                    <h2>Private informations</h2>

                    <form method="post" action="/update-private-infos">
                        <label for="firstname">Firstname:</label>
                        <input type="text" id="firstname" name="firstname" class="input" value="<%= userData[0].firstname %>" />

                        <label for="lastname">Lastname:</label>
                        <input type="text" id="lastname" name="lastname" class="input" value="<%= userData[0].lastname %>" />

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" class="input" value="<%= userData[0].email %>" />

                        <label for="birthday">Birthday:</label>
                        <input type="date" id="birthday" name="birthday" class="input" value="<%= new Date(userData[0].birthday).toISOString().split('T')[0] %>" />
                        <button type="submit" class="button">Save</button>
                    </form>
                </div>

                <div class="box box-65">
                    <h2>Public informations</h2>

                    <div class="avatar clearfix">
                        <img src="/public/img/avatars/default.png" class="default" />
                    </div>

                    <form method="post" action="/update-public-infos">
                        <label for="iam">I am:</label>
                        <select id="iam" name="iam" class="input small-label">
                            <%if (userData[0].iam == 'Amateur') { %>
                            <option value="Amateur" selected>Amateur</option>
                            <option value="Pro">Pro</option>
                            <% } else { %>
                                <option value="Amateur">Amateur</option>
                                <option value="Pro" selected>Pro</option>
                            <% } %>
                        </select>

                        <label for="pseudo">Pseudo :</label>
                        <input type="text" id="pseudo" name="pseudo" class="input small-label" value="<%= userData[0].pseudo %>" />
                        <label for="age">Age :</label>
                        
                        <input type="text" id="age" name="age" class="input small-label" value="<%= Math.trunc((new Date().getTime() - new Date(userData[0].birthday).getTime()) / (31557600000)) %>" disabled />

                        <label for="weapon">Favorite weapon (it will be your avatar !):</label>
                        <input type="text" name="weapon" id="favorite-weapon" class="input" value="<%= userData[0].weapon %>" />

                        <label for="city">My favorite city:</label>
                        <input type="text" name="city" id="favorite-city" class="input" value="<%= userData[0].city %>" />

                        <button type="submit" class="button">Save</button>
                    </form>
                </div>
            </div>
            
            <%if (userData[0].team.id) { %>
                <div class="box">
                    <h2>My team: <%= userData[0].team.name %></h2>

                    <%if (userData[0].team.coach_id == userData[0].id) { %>
                        <a href="/delete-team" class="bye-team">Delete team</a>
                    <% } else { %>
                        <a href="/leave-team" class="bye-team">Leave team</a>
                    <% } %>

                    <% for (i = 0; i < teamMates.length + 1; i++) { %>
                        <%if (i < teamMates.length) { %>
                            <%if (userData[0].team.coach_id == teamMates[i].user_id) { %>
                                <div class="team-user owner">
                                    <div class="team-user-content">
                                        <div class="tu-avatar"><img src="/public/img/avatars/default.png" alt="Avatar"></div>
                                        <div class="tu-user">
                                            <span class="tu-username"><i class="fa fa-shield" aria-hidden="true"></i> 
                                                <%if (teamMates[i].pseudo) { %>
                                                <%= teamMates[i].pseudo %>
                                                <% } else { %>
                                                <%= teamMates[i].firstname + " " + teamMates[i].lastname[0] + "." %>
                                                <% } %>
                                            </span>
                                            <%if (userData[0].id != teamMates[i].user_id) { %>
                                            <a href="/">See coach profile</a>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="team-user">
                                    <div class="team-user-content">
                                        <div class="tu-avatar"><img src="/public/img/weapons/scar.png" alt="Avatar"></div>
                                        <div class="tu-user">
                                            <span class="tu-username">
                                                <%if (teamMates[i].pseudo) { %>
                                                <%= teamMates[i].pseudo %>
                                                <% } else { %>
                                                <%= teamMates[i].firstname + " " + teamMates[i].lastname[0] + "." %>
                                                <% } %>
                                            
                                            </span>
                                            <%if (userData[0].id != teamMates[i].user_id) { %>
                                                <a href="/">See user profile</a>
                                            <% } %>
                                            <%if (userData[0].team.coach_id == userData[0].id) { %>
                                                <a href="/kick-team?id=<%= teamMates[i].user_id %>" class="kick">Kick</a>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% } else if (userData[0].team.coach_id == userData[0].id && (teamMates.length < userData[0].team.offer * 5 || teamMates.offers == 3)) { %>
                            <div class="team-user nobody">
                                <div class="team-user-content">
                                    <div class="tu-avatar"><img src="/public/img/avatars/nobody.jpg" alt="Avatar de"></div>
                                    <div class="tu-user">
                                        <a href="/add-player" class="add">Add a player</a>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                    
                    <%if (userData[0].team.offer != 3) { %>
                    <a href="/upgrade-offer" class="button">Improve your subscription and get more users now !</a>
                    <% } %>
                </div>
            <% } %>
        </div>

        <script src="/public/js/autocomplete.js"></script>
    </body>
</html>