<!DOCTYPE html>
<html>
    <head>
        <title>My Fortnite Coach</title>
        <link rel="stylesheet" href="/public/css/global.css" />
        <link rel="stylesheet" href="/public/css/account.css" />
        <link rel="stylesheet" href="/public/css/slick.css" />
        <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css' />
        <link rel="stylesheet" href='/public/css/selectize.css' />
        <link rel="stylesheet" href="/public/css/alert.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="icon" type="image/x-icon" href="/public/img/favicon.png">

        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    </head>

    <body>
        <div class="wrap">
            <!-- NAVIGATION -->
            <%- include partials/header.ejs %>
            <!-- NAVIGATION -->

            <%if (userData[0].teamname == null) { %>
                <div id="team-buttons">
                    <a href="/create-team" class="button">Create a team</a>
                    <a href="/join-team" class="button">Join a team</a>
                </div>
            <% } %>

            <div class="box-container">
                <div class="box box-30">
                    <h2>Private profile</h2>

                    <form method="post" action="">
                        <label for="firstname">Firstname:</label>
                        <input type="text" id="firstname" name="firstname" class="input" value="<%= userData[0].firstname %>" />

                        <label for="lastname">Lastname:</label>
                        <input type="text" id="lastname" name="lastname" class="input" value="<%= userData[0].lastname %>" />

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" class="input" value="<%= userData[0].email %>" />

                        <label for="birthday">Birthday:</label>
                        <input type="date" id="birthday" name="birthday" class="input" value="<%= new Date(userData[0].birthday).toISOString().split('T')[0] %>" /> <!-- To fix -->
                        <button type="submit" class="button">Save</button>
                    </form>
                </div>

                <div class="box box-65">
                    <h2>Public informations</h2>

                    <div class="avatar clearfix">
                        <img src="/public/img/avatars/default.png" />
                    </div>

                    <form method="post" action="">
                        <label for="iam">I am:</label>
                        <select id="iam" name="iam" class="input small-label" value="<%= userData[0].iam %>">
                            <option value="Amateur">Amateur</option>
                            <option value="Pro">Pro</option>
                        </select>

                        <label for="pseudo">Pseudo :</label>
                        <input type="text" id="pseudo" name="pseudo" class="input small-label" value="<%= userData[0].pseudo %>" />
                        <label for="age">Age :</label>
                        <input type="text" id="age" name="age" class="input small-label" value="" disabled /> <!-- Calculer avec le birthday -->

                        <label for="city">Favorite city:</label>
                        <input type="text" id="city" name="city" class="input small-label" value="<%= userData[0].city %>" />

                        <label for="weapon">Favorite weapon (it will be your avatar !):</label>
                        <input type="text" id="favorite-weapon" class="input" />

                        <label for="skin">My favorite skin:</label>
                        <input type="text" id="favorite-skin" class="input" />

                        <button type="submit" class="button">Save</button>
                    </form>
                </div>
            </div>
            
            <%if (userData[0].teamname) { %>
                <div class="box-container">
                    <div class="box">
                        <h2>My team: <%= userData[0].teamname %></h2>
                    </div>
                </div>
            <% } %>
        </div>

        <script src="/public/js/custom/autocomplete.js"></script>
    </body>
</html>